*.exe
*.dll
*.so
!discord_game_sdk.dll
!discord_game_sdk.so
*.7z
*.out
.vscode/
build
build/*
build/*.dll
build/*.so
*.tar
*.gz
*.pdn
CMakeToolchain.txt
Changelog.txt
entities2/assets/note.txt
bg.png
cover.png
cover.pdn
s*.png